In [25]:
import pandas as pd

df = pd.read_csv('../../../data/a_and_b/a_and_b_raw.csv')
df

   a   b
0  1   7
1  2  12
2  4  20
3  6  37

In [26]:
long_df = df.melt()
long_df

  variable  value
0        a      1
1        a      2
2        a      4
3        a      6
4        b      7
5        b     12
6        b     20
7        b     37

In [27]:
long_df.to_csv('../../../data/a_and_b/a_and_b_transformed.csv', index=False)