In [5]:
import pandas as pd

df = pd.read_csv('../../../data/a_and_b/a_and_b_transformed.csv')
df

  variable  value
0        a      1
1        a      2
2        a      4
3        a      6
4        b      7
5        b     12
6        b     20
7        b     37

In [6]:
sum_df = (
	df
	.groupby('variable')
	.agg(['mean', 'std'])
	.reset_index(drop=False)
)
sum_df.columns = ['variable', 'mean', 'std']
sum_df

  variable   mean        std
0        a   3.25   2.217356
1        b  19.00  13.140269

In [7]:
sum_df.to_csv('../../../data/a_and_b/a_and_b_summarized.csv', index=False)